@using CourtFinder.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2 style="text-align:center;">@ViewBag.Title.</h2>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-4">
            <div class="card text-center" style="background:linear-gradient(150deg, whitesmoke 50%, #e7e7e7 25%); padding-top:10px;padding-bottom:10px; margin-left:30%;margin-right:30%;background-color: whitesmoke;box-shadow:2px 0.36rem 0.75rem rgba(0,0,0,0.075) !important">
                <div class="card-body text-center">
                    <section id="socialLoginForm">
                        <h5>Sign in with Google+ or Facebook.</h5>
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                    <hr />
                    <h5>Or sign in with credentials</h5>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form text-center  align-items-center", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-offset-2">
                            <div class="form-group text-center">
                                <div class="input-group">
                                    <div class="input-group-addon" style="border:0px;">
                                        <div class="input-group-text"><i class="glyphicon glyphicon-envelope"></i></div>
                                    </div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @style = "border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02);" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="input-group">
                                    <div class="input-group-addon" style="border:0px;">
                                        <div class="input-group-text"><i class="glyphicon glyphicon-lock"></i></div>
                                    </div>
                                    @Html.TextBoxFor(m => m.Password, new {@type = "password", @class = "form-control", @placeholder = "Password", @style = "border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe, new { @style = "padding-left:0px;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <div class="input-group-btn">
                                <input type="submit" value="Log in" class="btn btn-primary" />
                            </div>
                        </div>
                        <p> @Html.ActionLink("Register as a new user", "Register")</p>                     
                        <p>@Html.ActionLink("Forgot your password?", "ForgotPassword")</p>
                    }
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}