@using Microsoft.AspNet.Identity
@using System.Globalization
@using CourtFinder.Models
@model CourtFinder.Models.GameViewModel
@{
    ViewBag.Title = "Game";
}
<div class="container">
    <div class="row text-center">
        <h3> <a href="@Url.Action( "Court", new { courtID = Model.game.CourtID, facilityID = Model.facility.FacilityID.ToString()})">@Model.game.Court.CourtName</a>: @Model.game.GameStart.ToString("MM/dd/yyyy h:mm tt", CultureInfo.InvariantCulture) - @Model.game.GameEnd.ToString("h:mm tt", CultureInfo.InvariantCulture)</h3>
        <hr />
    </div>
    <div class="row text-center">
        <div class="col-md-1"></div>
        @for (int i = 0; i < 2; i++)
        {
            Team team = (i == 0 ? Model.game.Team1 : Model.game.Team2);
            <div class="col-md-5 text-center">

                <div style="background:linear-gradient(150deg, whitesmoke 50%, #e7e7e7 25%);@(Model.game.WinningTeam != null && team.TeamID == Model.game.WinningTeam.TeamID ? Html.Raw("background:linear-gradient(150deg, #9dc183 50%, #4CBB17 25%);") : Html.Raw(""))box-shadow:0px 4px 10px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)">
                    <h3 style="padding-top:10px;">@team.TeamName @(Model.game.WinningTeam != null && team.TeamID == Model.game.WinningTeam.TeamID ? Html.Raw("<img src=\"/Graphics/trophy.png\" style=\"width:30px;height:auto;\" />") : Html.Raw("")) </h3>
                    <hr />
                    <h4>
                        W-L:@team.Wins-@team.Losses,
                        <span style="@(team.Standing > 0.75 ? Html.Raw("color:green;") : (team.Standing > 0.50 ? Html.Raw("color:lightgreen") : (team.Standing > 0.25 ? Html.Raw("color:#ffd800") : Html.Raw("color:red"))))">Rep: @team.Standing</span>
                    </h4>
                    <hr />
                    <div style="height:200px;width:auto;overflow:auto;">
                        @foreach (Player player in team.Players)
                        {
                            using (Html.BeginForm("UserProfile", "Dashboard", FormMethod.Get))
                            {
                                <button name="playerID" value="@player.PlayerID" type="submit" style="border-radius:10px;width:70%;padding:10px;height:20%; background-color:white; border:0px;border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)">
                                    <img style="border-radius: 50%; width:40px; height:auto; float:left;" src="@Html.Raw(player.ProfileImage)" />
                                    <p>@player.FirstName @player.LastName</p>
                                    <i class="fa fa-angle-right" style="float:right;padding-right:5px;margin-top:-8%;"></i>
                                </button>
                            }

                        }
                    </div>

                </div>
            </div>
            if (i == 0)
            {
                <div class="col-md-1 text-center" style="margin-top:10%;">
                    <h2>
                        VS.
                    </h2>
                </div>
            }
        }
    </div>
</div>
@if (Model.facility != null && User.Identity.GetUserId() == Model.facility.FacilityManager.UserID)
{
    using (Html.BeginForm("Game", "Dashboard", new { gameID = Model.game.GameID }, FormMethod.Post, new { @class = "form" }))
    {
        <h3>Mark winner</h3>
        <div class="custom-control custom-radio">
            @Html.RadioButtonFor(m => m.winningTeamID, Model.game.Team1.TeamID, new { @id = "radioTeam1", @class = "custom-control-input", @type = "radio" })
            <label class="custom-control-label" style="font-weight:normal" for="radioTeam1">@Model.game.Team1.TeamName</label>
        </div>
        <div class="custom-control custom-radio">
            @Html.RadioButtonFor(m => m.winningTeamID, Model.game.Team2.TeamID, new { @id = "radioTeam2", @class = "custom-control-input", @type = "radio" })
            <label class="custom-control-label" style="font-weight:normal" for="radioTeam2">@Model.game.Team2.TeamName</label>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="submit" @(Model.game.WinningTeam != null ? "disabled" : "")>Update</button>
        </div>
    }
}

