@using Microsoft.AspNet.Identity
@using CourtFinder.Models
@model CourtFinder.Models.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}

<style type="text/css">
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
</style>
@{
    DateTime now = DateTime.Today;
    int age = 0;
    if (Model.player.BirthDate.HasValue)
    {
        age = now.Year - Model.player.BirthDate.Value.Year;
        if (now < Model.player.BirthDate.Value.AddYears(age))
        { age--; }
    }
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Profile Info</h2>
            <hr />
            @if (User.Identity.GetUserId() == Model.player.UserID)
            {
                <img class="col-md-offset-5" style="box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02); border-radius: 50%; width:100px; height:auto;" src="@(Model.player.ProfileImage != null ? Html.Raw(Model.player.ProfileImage) : (Model.player.Gender == "Male" ? Html.Raw("/Graphics/male_avatar.png") : (Model.player.Gender == "Female" ? Html.Raw("/Graphics/female_avatar.png") : Html.Raw("/Graphics/default_avatar.png"))))" alt="User Profile Image" />

                using (Html.BeginForm("SaveProfile", "Dashboard", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
                {
                    <div class="form-row" style="padding-top:5px">
                        <div class="col-md-offset-3">
                            <div class="input-group">
                                <label class="input-group-btn">
                                    <span class="btn btn-primary btn-sm">
                                        Browse @Html.TextBoxFor(m => m.profilePhoto, new { @type = "file", @style = "display:none;" })
                                    </span>
                                </label>
                                <input type="text" class="form-control input-sm" style="border:0px; width:50%; box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)" readonly>
                            </div>
                        </div>

                    </div>
                    <div class="form-row" style="padding:30px 0 30px 0;">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon" style="border:0px;">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-user"></i></div>
                                </div>
                                @Html.TextBoxFor(m => m.player.FirstName, new { @class = "form-control", @placeholder = "First Name", @style = "border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)" })
                                @Html.ValidationMessageFor(m => m.player.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon" style="border:0px;">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-user"></i></div>
                                </div>
                                @Html.TextBoxFor(m => m.player.LastName, new { @Value = Model.player.LastName, @class = "form-control", @placeholder = "Last Name", @style = "border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)" })
                                @Html.ValidationMessageFor(m => m.player.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row" style="padding:30px 0 30px 0;">
                        <div class="col-md-2">
                            <h5>Birthday: </h5>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">

                                @Html.DropDownList("month", Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetAbbreviatedMonthName(i) }),
(Model.player.BirthDate.HasValue ? Model.player.BirthDate.Value.ToString("MMM") : "Month"),
new { @class = "custom-select", @style = "padding:8px 50% 8px 50%;border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">

                                @Html.DropDownList("day", Enumerable.Range(1, 31).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }),
(Model.player.BirthDate.HasValue ? Model.player.BirthDate.Value.ToString("dd") : "Day"),
new { @class = "form-contol", @style = "padding:8px 50% 8px 50%;border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">

                                @Html.DropDownList("year", Enumerable.Range(1930, 79).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }),
(Model.player.BirthDate.HasValue ? Model.player.BirthDate.Value.ToString("yyyy") : "Year"),
new { @class = "form-contol", @style = "padding:8px 50% 8px 50%;border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)" })
                            </div>

                        </div>
                    </div>
                    <div class="form-row" style="padding:30px 0 30px 0;">
                        <div class="col-md-2">Size:</div>
                        <div class="col-md-3">
                            @Html.DropDownList("feetHeight", Enumerable.Range(3, 5).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }),
(Model.player.Height == 0 ? "Feet" : ((int)(Model.player.Height / 12)).ToString()),
new { @class = "form-contol", @style = "padding:8px 20% 8px 20%;border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)" })
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownList("inchesHeight", Enumerable.Range(0, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }),
(Model.player.Height == 0 ? "Inches" : (Model.player.Height % 12).ToString()),
new { @class = "form-contol", @style = "padding:8px 20% 8px 20%;border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)" })

                        </div>
                        <div class="col-md-3">
                            @Html.DropDownList("lbWeight", Enumerable.Range(10, 60).Select(i => new SelectListItem { Value = (i * 5).ToString(), Text = (i * 5).ToString() }),
(Model.player.Weight == 0 ? "Weight" : (Model.player.Weight).ToString()),
new { @class = "form-contol", @style = "padding:8px 20% 8px 20%;border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)" })

                        </div>
                    </div>
                    <div class="form-row" style="padding:30px 0 60px 0;">
                        <div class="col-md-2">
                            <h5>Gender:</h5>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">

                                @Html.DropDownList("gender", new List<SelectListItem>() {
                                            new SelectListItem { Text="Blank", Value="Blank" },
                                            new SelectListItem { Text = "Male", Value = "Male" },
                                            new SelectListItem { Text = "Female", Value = "Female" } }, (Model.player.Gender),
 new { @class = "form-contol", @style = "padding:8px 50% 8px 50%;border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row text-center"><button class="btn btn-primary" type="submit">Save Changes</button></div>

                }
            }
            else
            {
                <div style="box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)">
                    <div class="row text-center">
                        <img style="border-radius:50%;width:75px; height:auto;" src="@(Model.player.ProfileImage != null ? Html.Raw(Model.player.ProfileImage) : (Model.player.Gender == "Male" ? Html.Raw("/Graphics/male_avatar.png") : (Model.player.Gender == "Female" ? Html.Raw("/Graphics/female_avatar.png") : Html.Raw("/Graphics/default_avatar.png"))))" alt="User Profile Image" />
                        <h3>@Model.player.FirstName @Model.player.LastName</h3>
                    </div>
                    <div class="row text-center">
                        <h4>@((Model.player.BirthDate.HasValue) ? Html.Raw("Age: " + age) : Html.Raw("") ) Gender: @Model.player.Gender</h4>
                    </div>
                    <div class="row text-center">
                        @if (Model.player.Height != 0)
                        {
                            <h4>@((int)(Model.player.Height / 12)) Feet @((int)(Model.player.Height % 12)) Inches</h4>
                        }
                        @if (Model.player.Weight != 0)
                        {
                            <h4>@Model.player.Weight lb</h4>
                        }
                    </div>
                </div>

            }
        </div>
        <div class="col-md-6">
            <h2>Teams</h2>
            <hr />
            @if (User.Identity.GetUserId() == Model.player.UserID)
            {
                <div class="container" style="padding-bottom:30px;">
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" data-toggle="modal" data-target="#createTeamModal" style="background-color:transparent; border:0px;"><img style="width:20px;height:auto;" src="~/Graphics/add.png" /> Create Team</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" data-toggle="modal" data-target="#joinTeamModal" style="background-color:transparent; border:0px;"><img style="width:20px;height:auto;" src="~/Graphics/join.png" /> Join Team</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" data-toggle="modal" data-target="#leaveTeamModal" style="background-color:transparent; border:0px;"><img style="width:18px;height:auto;" src="~/Graphics/subtract.png" /> Leave Team</button>
                        </div>
                    </div>
                </div>
            }
            <div class="container" style="height:300px;width:auto;overflow-y:auto;">
                @if (Model.teams == null || Model.teams.Count == 0)
                {
                    <p>You currently are not part of any teams. Create or join a team by clicking above.</p>
                }
                else
                {
                    foreach (Team team in Model.teams)
                    {
                        <div class="row">
                            <div class="col" style="padding:10px;">
                                @using (Html.BeginForm("Team", "Dashboard", FormMethod.Get))
                                {
                                    <button name="teamID" value="@team.TeamID" type="submit" style="border-radius:30px;width:100%;height:20%; background-color:ghostwhite; border:0px;border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)">
                                        <p style="font-size:15px;padding-top:5px;">@team.TeamName</p> <p style="vertical-align:bottom">@team.Wins - @team.Losses</p> <i class="fa fa-angle-right" style="float:right;padding-right:5px;margin-top:-8%;"></i>
                                    </button>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createTeamModal" tabindex="-1" role="dialog" aria-labelledby="createTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTeamModalLabel">Create Team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("CreateTeam", "Dashboard", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-addon" style="border:0px;">
                            <div class="input-group-text"><i class="fa fa-address-card-o"></i></div>
                        </div>
                        @Html.TextBoxFor(m => m.newTeamName, new { @class = "form-control", @placeholder = "Team Name", @style = "border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="joinTeamModal" tabindex="-1" role="dialog" aria-labelledby="joinTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="joinTeamModalLabel">Join Team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("JoinTeam", "Dashboard", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-addon" style="border:0px;">
                            <div class="input-group-text"><i class="glyphicon glyphicon-ok"></i></div>
                        </div>
                        @Html.TextBoxFor(m => m.joinTeamID, new { @class = "form-control", @placeholder = "Private Team Number", @style = "border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Join</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="leaveTeamModal" tabindex="-1" role="dialog" aria-labelledby="leaveTeamModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="leaveTeamModalLabel">Leave Team</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="container" style="height:300px;width:auto;overflow-y:auto;">
            @if (Model.teams == null || Model.teams.Count == 0)
            {
                <p>You currently are not part of any teams.</p>
            }
            else
            {
                foreach (Team team in Model.teams)
                {
                    <div class="row">
                        <div class="col" style="padding:10px;">
                            @using (Html.BeginForm("LeaveTeam", "Dashboard", FormMethod.Post))
                            {
                                <button name="teamID" value="@team.TeamID" type="submit" style="border-radius:30px;width:100%;height:20%; background-color:ghostwhite; border:0px;border:0px;box-shadow:0px 1px 3px rgba(50,50,93,0.15), 0px 1px 0px rgba(0,0,0,0.02)">
                                    <p style="font-size:15px;padding-top:5px;">@team.TeamName</p> <i class="fa fa-angle-right" style="float:right;padding-right:5px;margin-top:-8%;"></i>
                                </button>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
</div>
